.profile {
    margin-bottom: 60px;
}
.profile .cover {
    width: 100%;
    position: relative;
    background-image: url('/images/cover.jpg');
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile .profileImg {
    position: absolute;
    color: white;
    bottom: -50px;
    left: 180px;
    display: flex;
    align-items: center;
}
.profile .profileImg img {
    width: 120px;
    height: 120px;
    filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(127deg)
        brightness(103%) contrast(104%);
    margin-inline-end: 20px;
}
.profile .profileImg .name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: -20px;
}
.profile .fav-title {
    font-size: 2rem;
    margin-top: 120px;
    font-weight: 600;
    color: white;
}
