

.item {
    color: #6E16CA; /* Default link color */
    font-size: 18px;
    text-decoration: none;
}

.item.active {
    background-color: #6E16CA; /* Background color for active link */
    color: white; /* Text color for active link */
    border-radius: 10px; /* Rounded border */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition */
    padding: 6px 14px; /* Padding for better spacing */
}

.parent {
    background-color: #cdb051;
}

.box {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box:hover input {
    width: 100%;
}

.box input {
    outline: none;
    border: none;
    width: 0;
    font-weight: 500;
    transition: .8s;
    background: transparent;
}
.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
    position: absolute;
    top: .75rem;
    right: .5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 4rem;
    height: 2rem;
    display: none;
}
span{
    height: .4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}
@media (max-width: 1024px) {
    .menu {
        display: flex;
    }
  .parent{
    flex-direction: column;
    align-items: start;
  }
  .search{
    display: none;
  }

 .open{
    display: flex;
    flex-direction: column;
    width: 100%;
  align-items: center;
  }
  .close {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  Link {
    width: 100%;
    text-align: center; 
  };
}
.btn{
  background-color: #6E16CA;
  color: #fff;
}
btn:hover{
  background-color: #9d4ef2;
}
@media (max-width: 1024px) {
  .btnn {
      display: none; /* Hide the button on small screens */
  }
}
.login-button{
  background-color: #6E16CA;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s background-color;
}
.login-button:hover{
  background-color: #853ed1;
}
.navbar-toggler{
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus , .btn-close:focus{
  outline: none;
  box-shadow: none;
}
.nav-link{
  color: #666777;
  font-weight: 700;
  position: relative;
}
.nav-link:hover , .nav-link.active{
  color: #000;
}
@media(min-width:995px){.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  background-color: #6E16CA;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.nav-link:hover:before , .nav-link.active:before{
  visibility: visible;
  width: 100%;
}}
/* .hero-section{
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/images/back.jpg");
  background-repeat: no-repeat;
  background-size:cover ;
  position: relative;
}
.hero-section::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
} */
.main{
  border-radius: 16px;
  margin: 20px;
  padding: .5rem;
}