.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}
.register-btn {
    background-color: transparent;
    border: 1px solid var(--color-var4);
    color: var(--color-var4);
    padding: 1rem;
    border-radius: 6px;
    margin-top: 0.5rem;
}
.account {
    margin-top: 0.5rem;
}
.account a {
    text-decoration: none;
    color: var(--color-var4);
}
@media (max-width: 480px) {
    .register-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}
