.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.login-btn {
    background-color: transparent;
    border: 1px solid var(--color-var4);
    color: var(--color-var4);
    padding: 1rem 1.5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
}
